nav{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    a{
        text-decoration: none;
        color:#ed143d ;
        text-transform: uppercase;
        
    }
}
.fixed{
    position: fixed;
    bottom: auto;
}